/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  margin:33px;
}

.content{
  margin:55px;
}

p{
  margin-bottom:20px;
}

.start-link{
  margin:55px;
}

.books-list{
  margin:33px;
}

.books-list table{
  width:70%;
}

.books-list td a{
  margin-right: 10px;
}


.books-list th{
  padding:5px;
  font-size:18px;
  font-weight:bold;
  text-align:center;
}

.books-list td{
  margin:33px;
  padding:1px 5px 7px;
  text-align:center;
}

.new-book-form {
  width: 80%;
  margin-top: 20px;
}

.new-book-form h1 {
  margin-bottom: 10px;
}

.error{
  margin:33px;
  color:red;
}

.new-book-form h4 {
  margin:0 auto;
  margin-bottom: 5px;
  padding-left:33px;
}

.form {
  padding-left:33px;
}

.form2 {
  padding-left:33px;
}

.button{
  padding-left:33px;
}

.book-edit{
  margin: 20px 20px;
  padding: 10px;
}

.action{
  margin-top:20px;
}



.book-edit td a{
  margin-top:10px;
  padding-top: 10px;
}

.error2{
  margin:33px;
  color:red;
}


.flash-notice{
  margin:33px;
}
.flash-notice p{
  font-size:18px;
  color:green;
}

.update{
  margin:33px;
}

.update td b{
  padding-left:20px;
}